body{
    text-align: center;
}

button{
    padding: 10px 30px 10px 30px;
    color: #fff;
    background-color: red;
    border: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Fonts */
h1, h2{
    font-family: 'Roboto Condensed', sans-serif;
}
